//Зададим переменные под медиазапросы:
$desktop-above: 1281px; //Под поход mobile-first (min-width)
$desktop: 1280.98px; //Под поход desktop-first (max-width)

$tablet-above: 1024px; //Под поход mobile-first (min-width)
$tablet: 1023.98px; //Под поход desktop-first (max-width)

$mobile-above: 768px; //Под поход mobile-first (min-width)
$mobile: 767.98px; //Под поход desktop-first (max-width)

$mobile-s-above: 481px; //Для адаптации списка партнеров из Hero-section
$mobile-s: 480.98px; // Для адаптации списка партнеров из Hero-section

@mixin desktop-above {
  @media (min-width: $desktop-above) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin tablet-above {
  @media (min-width: $tablet-above) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile-above {
  @media (min-width: $mobile-above) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin mobile-s-above {
  @media (min-width: $mobile-s-above) {
    @content;
  }
}

@mixin mobile-s {
  @media (max-width: $mobile-s) {
    @content;
  }
}

@mixin hover {
  //Устраняем залипание hover для кнопок на мобилах
  @media (hover: hover) {
    //Этот hover сработает только на устройствах, где классический эффект наведения курсором реализуем
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    //Этот hover сработает только на устройствах с тач-экраном
    &:active {
      @content;
    }
  }
}

.element {
  //Сначала зададим обычные свойства для класса .element,, а затем эти свойства для ширины экрана в 1280px
  padding-block: 100px;
  font-size: 30px;

  @include desktop() {
    padding-block: 50px;
    font-size: 18px;
    //В CSS будет выглядеть как: @media (max-width: 1280px) {.element {padding-block: 50px; font-size: 18px}}
  }
}
