@use "sass:math"; //Подключаем встроенный в Sass пакет Math

@mixin fluid-text($max: 48, $min: 16) {
  //В аргументы $max и $min передедим значения шрифта из Desktop (по умолчанию установили 48px)
  // и из Mobile (по умолчанию установили 16px) макетов.
  $maxViewportWidth: 1240; //Тут задаем максимальную ширину Desktop-макета (контейнера макета)
  $minViewportWidth: 360; //Тут задаем максимальную ширину Mobile-макета

  $maxSize: math.div($max, 16); //Используем функцию из пакета Math
  $minSize: math.div($min, 16); //Используем функцию из пакета Math
  $maxWidth: math.div($maxViewportWidth, 16);
  $minWidth: math.div($minViewportWidth, 16);

  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  $yAxisIntersection: -$minWidth * $slope + $minSize;

  //Сейчас будет сама функция вычисления на основе наших введенных аргументов:
  font-size: clamp(
    #{$minSize * 1rem},
    #{$yAxisIntersection * 1rem} + #{$slope * 100vw},
    #{$maxSize * 1rem}
  );
}

@mixin reset-link {
  //Сбрасываем стандартные визуальные свойства ссылки
  color: inherit;

  &,
  &:hover {
    text-decoration: none;
  }
}

@mixin reset-button {
  //Сбрасываем стандартые свойства кнопок
  padding: 0;
  background-color: transparent;
  border: none;
}

@mixin flex-center($isInline: false) {
  @if $isInline {
    //Описываем случай, когда переменная isInline = true
    display: inline-flex;
  } @else {
    //Описываем случай, когда переменная isInline = false, т.е. по умолчанию
    display: flex;
  }

  justify-content: center;
  align-items: center;
}
//Миксин выше для того, чтобы вместо трех строк свойств писать одну: "@include flex-center(true)"

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@mixin square($size) {
  //Задает пропорции 1:1
  width: $size;
  height: $size;
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}
